@{
    ViewData["Title"] = "LookUp Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model EStore.DataModels.LookUp

<div class="card card-info col-12 justify-content-center m-0">
	<div class="card-header">
		<h3 class="card-title">
			Edit LookUp
		</h3>
	</div>
	<form asp-controller="LookUp" asp-action="LookUpEdit">
		<div class="card-body">

			<input asp-for="LookUpId" hidden />

			<div class="form-group">
				<label for="dropdown" class="control-label">LookUp Type</label>
				<select id="dropdown" class="form-control border border-primary" name="LookUpType" asp-for="LookUpType">
					<option value="">---Select Input---</option>
					@foreach (var item in ViewBag.LookUpType as List<SelectListItem>)
					{
						<option value="@item.Value">@item.Text</option>
					}
				</select>
			</div>

			<div class="form-group">
				<label for="dropdown" class="control-label">LookUp Data</label>
				<input required type="text" class="form-control border border-primary" asp-for="LookUpData" />
			</div>

			<div class="form-group">
				<label for="dropdown" class="control-label">LookUp Icon</label>
				<input type="text" class="form-control border border-primary" asp-for="LookUpIcon" />
			</div>

			<div class="form-check">
				<input type="checkbox" class="form-check-input" asp-for="IsActive" />
				<label class="form-check-label">Is Active</label>
			</div>

		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>
</div>